body{
  margin:0;
}
.Hidden{
  display:none;
}

.LogIn-Modal{
  display:flex;
  justify-content:center;
  align-items: center;
  max-width:400px;
  max-height:400px;
}

.login-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: silver; /* Background color for the button */
  color: #fff; /* Text color for the button */
  border: none;
  border-radius: 8px; 
  padding: 15px 30px; 
  font-size: 16px;
  cursor: pointer;

  background-size: cover; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.Hidden{
  display:none;
}


/* Style for the profile button */
.profile-button {
  position: fixed;
  top: 6vh;
  left: 3vh;
  z-index:3;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background-color: transparent;
}

/* Style for each bar in the hamburger button */
.bar {
  width: 80%;
  border:1px white solid;
  height: 4px;
  background-color: black;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.profile-section {
  display: none;
  position: fixed;
  top:10vh;
  left: 3vh;
  color:white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 2; /* Ensure it's above other content */
  text-align: left;
  background-color: black;
  border:1px solid white;
}

/* Show the profile section when the hamburger button is active */
.profile-button.active + .profile-section {
  display: block;
}

/* Style for the profile section title */
.profile-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
}

/* Style for the user information */
.profile-section p {
  font-size: 1rem;
  margin: 5px 0;
  color: white;
}

/* Style for the log out button */
.profile-section button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style for the log out button on hover */
.profile-section button:hover {
  background-color: #ff331a;
}

.places-container{
  position:absoluteß;
  top:10px;
  left:50%;
  transform: translateX(-50%);
  z-index:10px;
  width:300px;
}
.combobox-input{
  width:100%;
  padding:0.5rem;
}

